<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>webpage</h1>
        <table  border="3px">
            <tr>
                <th>
                    id/pk
                </th>
                <th>topic_name</th>
                <th>name</th>
                <th>url</th>
            </tr>
            {% for item in eqs  %}

            <tr>
<td> {{item.id}}</td>                   
                    <td>{{item.topic_name}}</td>
                   <td>{{item.name}}</td> 
                   <td> {{item.url}}</td>
                
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>