<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>webpage</h1>
        <form  method="post">
            {% csrf_token %}
        <label for="tn"> topic_name</label>

        <select name="tn" id="tn">
        {% for wo in lwo %}
        <option value="{{wo.topic_name}}">

        {{wo.topic_name}}
       </option>
       {% endfor %}

    </select> <br><br>
    <label for="na">name</label>
    <input type="text" name="na" id="na"><br><br>

    <label for="ur">url</label>
    <input type="url" name="ur" id="ur"><br><br>

    <input type="submit" value="create webpage">
        </form>
        

    </center>
</body>
</html>